Automated Research and Summarization.json
{
  "name": "Automated Research and Summarization",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2861828a-3542-4efd-8b22-d1a76072136e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JS4g45yxiypGpVN-0v_tr-A8m6WiOS0kPb-vIF7kTXA",
          "mode": "list",
          "cachedResultName": "InsightFlow Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JS4g45yxiypGpVN-0v_tr-A8m6WiOS0kPb-vIF7kTXA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JS4g45yxiypGpVN-0v_tr-A8m6WiOS0kPb-vIF7kTXA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        0
      ],
      "id": "00f9a9b3-13ec-4867-bbe1-5fb14fd9ced1",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3agu8f4HpobLwW0z",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "Topic",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        496,
        0
      ],
      "id": "fffc109d-aac5-49ee-b5b8-6d9e6602a5bc",
      "name": "Split Out"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Topic }}",
        "options": {
          "systemMessage": "You are a research assistant.\n\nUse the tavily_search tool EXACTLY ONCE.\n\nOnce you receive any data from the tool (even if it is not perfect), you must stop searching immediately.\n\nUse the data you found to write a 3-paragraph summary.\n\nDo not refine, do not double-check, and do not call the tool again. If you call the tool a second time, you have failed your mission.",
          "maxIterations": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        704,
        0
      ],
      "id": "d237bd88-64b0-428a-aece-06ab1cdbcee5",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $fromAI(\"query\") }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 6500
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        848,
        -176
      ],
      "id": "d3ce97a1-dd5e-403a-8a95-23b3912145b3",
      "name": "tavily_search",
      "credentials": {
        "httpHeaderAuth": {
          "id": "eC2bf5hCAHbNxbGl",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        704,
        192
      ],
      "id": "98634503-6dff-4994-b29e-b438750ea2ee",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "fEYJ4RamxXlvx1Mt",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1JS4g45yxiypGpVN-0v_tr-A8m6WiOS0kPb-vIF7kTXA",
          "mode": "list",
          "cachedResultName": "InsightFlow Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JS4g45yxiypGpVN-0v_tr-A8m6WiOS0kPb-vIF7kTXA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JS4g45yxiypGpVN-0v_tr-A8m6WiOS0kPb-vIF7kTXA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $('Split Out').item.json.Topic }}",
            "Research Summary": "={{ $json.output }}"
          },
          "matchingColumns": [
            "Topic"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Research Summary",
              "displayName": "Research Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1232,
        0
      ],
      "id": "08c60849-154b-430f-9ba5-4784b1f46063",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3agu8f4HpobLwW0z",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1024,
        0
      ],
      "id": "abd65074-84f1-46b1-9e3c-d425a9388308",
      "name": "Wait",
      "webhookId": "7a01b1f1-9403-41b2-8749-879e3ce13514"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tavily_search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "48d16687-9b41-4da8-b06f-6b4768068c30",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "48c9b1791f8d493e8a71049e6ba05f7889fa1c2d61047518307757e06aeafff0"
  },
  "id": "tznB663cDGzrbkqG",
  "tags": []
}